<head>
    <title>App Wall</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        {{> header}} 
        
        {{> form}} 
        
        {{> posts}}
    </div>

</body>